@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


:root {
  --primary-color: #a3b18a;
  --secondary-color: #588157;
  --accent1-color: #3a5a40;
  --accent2-color: #344e41;

  --heading-font: "Open Sans", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;

  --nav-background-color: #f9ffee;
  --nav-link-color: #3a5a40;
  --nav-hover-link-color: #3a5a40;
  --nav-hover-background-color: #a3b18a;
}

body {
  font-family: var(--paragraph-font);
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

article p {
  padding: 25px;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: #fff;
}

.icon {
  width: 170px;
}

nav a:hover {
  color: var(--nav-hover-background-color);
}

.hero {
  position: relative;
}
.hero h1 {
  position: absolute;
  top: 50px;
  left: 20px;
  text-align: center;
  background-color: rgba(2, 2, 32, 0.6);
  width: 98%;
}

article {
  position: absolute;
  float: left;
  top: 150px;
  left: 20px;
  background-color: rgba(171, 240, 171, 0.7);
}

article img {
  width: 210px;
  height: auto;
  float: right;
  margin: 10px;
}

article p {
  text-align: justify;
}

.history p{
  text-align: justify;
  margin: 0;
}

.history{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  margin: 0 auto;
}

.history img{
  max-width: 300px;
  margin: 0 auto;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  border-bottom: 1px; 
  max-width: 1000px;
  background: steelblue;
}

.logo-principal{
	margin: 0 0.25rem 0 1rem;
}

h1 {
	font-size: 3rem;
	font-family: 'Open Sans', sans-serif;
}

nav {
	text-align: center;
}

.navigation {
	display: flex;
  justify-content: flex-end;
}

/* .navigation a{
  tet
} */

h2 {
  text-align: center;
}

.adventure{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.adventure figure img{
  width: 150px;
}

.continer {
  display: flex;
  justify-content: space-between ;
  border: 5px;
  width: 150px;
  height: 150px;
  margin: 30px;
  border: 2px;
 
  }

.sociallinks{
  display:flex;
  justify-content:flex-end;
}

.sociallinks a img{
  width: 50px; 
}

footer{
  display: grid;
  grid-template-columns: 70% 25%;
  align-items: center;
  background: steelblue;
  margin-top: 3rem;
}

footer p{
  color: #fff;
  padding-left: 2rem;
}

.contact{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.contact figure img{
  width: 100%;
}

.image-hero-contact-us{
 width: 100%;
}

.hdr-contact{
  margin-bottom: 0;
}

.h1-contact{
  margin-bottom: 0;
}

.h2-contact{
  font-size: 3rem;
}

.p-contact{
  margin-top: 5px;
  margin-bottom: 2rem;
}

.google-map{
  height: 20rem;
  width: 100%;
}

.display-section-grid{
  margin: 5rem 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.employee-section{
  margin: 10rem 0;
}


form{
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 0rem 1rem 2rem 1rem;
  background-color: #f4f4f4;
  border-radius: 0.4rem;
  box-shadow: 6px 5px 16px -1px rgba(0,0,0,0.29);
  -webkit-box-shadow: 6px 5px 16px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 6px 5px 16px -1px rgba(0,0,0,0.29);
  margin: 0 auto;
}

.question-padding{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

label{
  font-size: 20px;
  padding-bottom: 0.4rem;
}

.question{
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: 'Lato';
}

.btn-form{
  font-size: 22px;
  padding: 1rem;
  margin-top: 2rem;
  background-color: steelblue;
  color: #fff;
  border-radius: 0.5rem;
  border: 0px none;
}

.btn-form:hover{
  background-color: #f4f4f4;
  color: #000;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  border: 1px solid #000;
}

.padding-for-text{
  padding-left: 0.2rem;
}

.trip-section{
  margin-top: 10rem;
  margin-bottom: 10rem;
  display:flex ;
  flex-direction: column;

}
